.ticket {
    border: 1px solid darkred;
    border-radius: 15px;
    width: 800px;
    padding: 10px 20px;
    margin: 20px;
    background-color: lavenderblush;
    font-family: serif;
}

.logotype {
    font-family: "Courier New", Courier, monospace;
    font-size: 140%;
    font-weight: bold;
    margin-bottom: 10px;
}

.plane {
    margin: 0;
    padding: 0;
    line-height: 1.1;
}

.header,
.text {
    float: left;
    padding-left: 5px;
    border-left: 1px solid darkred;
    border-right: 1px solid darkred;
}

.header {
    font-size: 70%;
    font-family: "Times New Roman", sans-serif;
    background-color: lightpink;
    border-top: 1px solid darkred;
}

.text {
    font-size: 90%;
    font-family: "Courier New", monospace;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid darkred;
    margin-bottom: 8px;
}

.small {
    font-size: 80%;
    margin-left: 5px;
}

.inner {
    border-right: none;
}

.clear {
    clear: both;
}

.width-100 {
    width: 99%;
}

.width-50 {
    width: 49%;
}
